* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* esto es un poco raro pero como ocupaba un */


/* Color Theme Swatches in Hex */
.paleta
{ 
    color: #156927; 
    color: #9cdd47; 
    color: #1e9c8c; 
    color: #14484e; 
    color: #73482F; }

/* estilos de las etiquetas generales*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, #156927 60%, #14484e );
}
header {
    position: fixed ;
    color: #023010;
    width: 100%;
    background: radial-gradient(circle, #9cdd47 ,#5fa603 , #1e9c8c);
    filter: drop-shadow(0px 5px 2px #156927b9);
    z-index: 9;
}

main {
    padding-top: 10%;
    text-align: center;
    display: inline-flex;
    flex:1;
    color: aliceblue;
    width: 100%;
}

aside {
    text-align: center;
    align-items: center;
    width: 100%;
}

/* tip para que el footer este siempre abajo usa las propiedades display flex y min-height: 100vh
en el body de esa forma siempre estara abajo
100vh significa 100% de la altura de la ventana del navegador
y el flex hace que el footer se mantenga abajo y el main ocupe el espacio restante
esta bien perron 
  */
footer {
    background-color: #14484ed3;
    text-align: center;
    padding: auto;
    top:100%;
    color: #b2f1c5;
    width: 100%;
    height: auto;
    

}

section {
    width: 100%;
    text-align: center;;
    padding: 10px;
    width: fit-content;

}
ul.navegacion {
    list-style: none;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    font-size: 30px;
}


/*menu de navegacion*/
.menu {
    position: fixed;
    width: 100%;
    padding: 10px;
    background: radial-gradient(circle, #9cdd47 ,#5fa603 , #1e9c8c);
    filter: drop-shadow(0px 5px 2px #156927b9);

}
a.item {
    color: #023010;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 5px;
    flex:1;
    transition:  background-color 0.3s, color 0.3s;
    z-index: 10;

}
.item2 {
    color: #023010;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    transition:  background-color 0.3s, color 0.3s;
    z-index: 10;

}
a.item:hover {
    background-color: rgba(156, 212, 245, 0.384);
    transform: scale(1.5);
    transition: transform 0.5s ease;
    box-sizing: border-box;
    color: #023010;
}
.menuChiqui{
    display: none;
    color: aliceblue;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    box-sizing: border-box;
}

/*menu comprimido*/
@media (max-width: 768px) {
    .menuChiqui{
        display:block;
        z-index: 10; 
    }
    .menu{
        display: none;
    }
    .menu.active{
        position: relative;
        display:inline-flex;
        top: 10%;
        left: 0;
        width: 20%;
    /* esta instruccion es para que este elemento se superponga respecto al resto de elementos*/
        z-index: 10;
    }
    .menuChiqui:hover{
        background-color: rgba(156, 212, 245, 0.384);
        color:#023010;
        transition: 0.3s;
    }
}



/*fin del menu*/




/*un estilo para que la imagen se vea con silueta*/
.silueta {
    width: 250px;
    max-height: 300px;
    transition: filter 0.1s ;
    padding: 20px;
}

.silueta:hover {
    filter: drop-shadow(10px -5px 1px #70c2a0fd);
    cursor: pointer;
    scale: 1.05;
}
/*fin del estilo de la silueta*/
/*para comprimir el menu*/
