* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* esto es un poco raro pero como ocupaba un */

.navega {
    display: flex;
}
/* Color Theme Swatches in Hex */
.paleta
{ 
    color: #156927; 
    color: #9cdd47; 
    color: #1e9c8c; 
    color: #14484e; 
    color: #73482F; }

/* estilos de las etiquetas generales*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, #156927 60%, #14484e );
}
header {
    position: fixed ;
    color: #023010;
    width: 100%;
    text-align: center;
    background: radial-gradient(circle, #9cdd47 ,#5fa603 , #1e9c8c);
    filter: drop-shadow(0px 5px 2px #156927b9);
    z-index: 10;
}

main {
    padding-top: 10%;
    text-align: center;
    display: inline-flex;
    flex:1;
    color: aliceblue;
    width: 100%;
}

aside {
    text-align: center;
    align-items: center;
    width: 100%;
}

/* tip para que el footer este siempre abajo usa las propiedades display flex y min-height: 100vh
en el body de esa forma siempre estara abajo
100vh significa 100% de la altura de la ventana del navegador
y el flex hace que el footer se mantenga abajo y el main ocupe el espacio restante
esta bien perron 
  */
footer {
    background-color: #14484ed3;
    text-align: center;
    padding: auto;
    top:100%;
    color: #b2f1c5;
    width: 100%;
    height: auto;
    

}

section {
    width: 100%;
    text-align: center;;
    padding: 10px;
    width: fit-content;

}
ul{
    padding: 0 10%;
    text-align: justify;
}
li{
    padding: 1%;
    
}


/*menu de navegacion*/
nav {
    position: fixed;
    width: 100%;
    text-align: center;
    align-items: space-between;
    padding: 10px;
    background: radial-gradient(circle, #9cdd47 ,#5fa603 , #1e9c8c);
    filter: drop-shadow(0px 5px 2px #156927b9);

}
a.boto {
    color: #023010;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 5px;
    flex:1;
    transition:  background-color 0.3s, color 0.3s;

}
a.boto:hover {
    background-color: rgba(240, 248, 255, 0.384);
    transform: scale(1.1);
    transition: transform 0.3s;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
    box-sizing: border-box;
    color: #023010;
    transition:  background-color 0.3s, color 0.3s;
}
/*fin del menu*/




/*un estilo para que la imagen se vea con silueta*/
.silueta {
    width: 250px;
    max-height: 300px;
    transition: filter 0.1s ;
    padding: 20px;
}

.silueta:hover {
    filter: drop-shadow(10px -5px 1px #70c2a0fd);
    cursor: pointer;
    scale: 1.05;
}
/*fin del estilo de la silueta*/
/*para comprimir el menu*/
